{% extends 'layout.html' %}
{% block body %}
<style>
  .circle {
     width: 140px;
     height: 140px;
     background-image: url("static/{{pic}}");
     -moz-border-radius: 70px;
     -webkit-border-radius: 70px;
     border-radius: 70px;
     margin-left: auto;
     margin-right: auto;
     display: block;
  }
</style>
<div class="jumbotron text-center">
  <h1>Account Settings</h1>
<p><small>Welcome <b>{{session.username}}</b> </small></p>
<div class="circle">
</div>
<hr></hr>
<p>Please select from the following options</p>
<table class="table ">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="margin: auto;">Account Information</th>
      <th scope="col"style="margin: auto;">Order Information</th>
      <th scope="col"style="margin: auto;">Support Helpdesk</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Update Profile</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="/account">Update Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Documents</a></li>
          </div>
        </div>
      </td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Order History</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/history">Order History</a>
            <a class="dropdown-item" href="/order">New Order</a>
            <a class="dropdown-item" href="/history/active">Active Orders</a>
          </div>
        </div>
      </td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Frequent Questions</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Frequent Questions</a>
            <a class="dropdown-item" href="/ticket">Support Ticket</a>
            <a class="dropdown-item" href="#">Phone Support</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<hr></hr>
<form method="POST" action=""  enctype="multipart/form-data" >
<div class="form-group">
<p>Name: <input type="text" name="name" class="form-control" value= {{request.form.name}}></p>
<p>Country: <input type="text" name="country" class="form-control" value= {{request.form.country}}></p>
<p>Biography: <textarea class="form-control" name="bio" rows="8" cols="80" value= {{request.form.bio}}></textarea></p>
<p>Profile Image: <input type="file" name="inputFile" class="form-control"></p>
</div>
<p><input type="submit" name="inputFile" class = "btn btn-primary" value="Submit"></p>
</form>
</div>
{% endblock %}
