{% extends 'layout.html' %}
{% block body %}
{% from 'includes/_formhelpers.html' import render_field %}

<style>
  .circle {
     width: 140px;
     height: 140px;
     background-image: url("../../static/{{pic}}");
     -moz-border-radius: 70px;
     -webkit-border-radius: 70px;
     border-radius: 70px;
     margin-left: auto;
     margin-right: auto;
     display: block;
  }

  .para {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10ch;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>


<div class="jumbotron text-center">
  <h1>Dashboard</h1>
<p><small>Welcome <b>{{session.username}}</b> </small></p>
<div class="circle">
</div>
<hr></hr>
<p>Here is information about your order!</p>

<!--
<p>Street: {{street}}</p>
<p>City: {{city}}</p>
<p>State: {{state}}</p>
<p>Zip Code: {{zip}}</p>
-->
<table class="table ">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="margin: auto;">Account Information</th>
      <th scope="col"style="margin: auto;">Order Information</th>
      <th scope="col"style="margin: auto;">Support Helpdesk</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Update Profile</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="/account">Update Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Documents</a></li>
          </div>
        </div>
      </td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Job History</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/tech/history">Job History</a>
            <a class="dropdown-item" href="/tech/history/active">Active Jobs</a>
            <a class="dropdown-item" href="/tech/offers">Job Offers</a>
          </div>
        </div>
      </td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Frequent Questions</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Frequent Questions</a>
            <a class="dropdown-item" href="/ticket">Support Ticket</a>
            <a class="dropdown-item" href="#">Phone Support</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<hr></hr>
<u><h4>Order Information:</h4></u>

<div style="font-size: 10px;" class="row">
  <div class="column" align="left">
  <p><b>Order ID:</b> {{data['id']}}</p>
  <p><b>Userid:</b> {{data['userid']}}</p>
  <p><b>Name:</b> {{data['name']}}</p>
  <p><b>Email:</b> {{data['email']}}</p>
  <p><b>Phone #:</b> {{data['phone']}}</p>
  <p><b>Street:</b> {{data['street']}}</p>
  <p><b>City:</b> {{data['city']}}</p>
  <p><b>State:</b> {{data['state']}}</p>
  </div>
  <div class="column" align="left">
  <p><b>Country:</b> {{data['country']}}</p>
  <p><b>Issue:</b> {{data['issue']}}</p>
  <p><b>Support Type:</b> {{data['support_Type']}}</p>
  <p><b>Computer Model:</b> {{data['computer']}}</p>
  <p><b>Operating System:</b> {{data['operating_System']}}</p>
  <p><b>Status:</b> {{data['status']}}</p>
  <p><b>Date Submitted:</b> {{data['timestamp']}}</p>
  </div>
</div>
  <hr></hr>
  <form method="POST" action="">
  <p><input type="submit" name="" class = "btn btn-primary" value="Accept Offer"></p>
  </form>
  </div>

</div>
{% endblock %}
