{% extends 'layout.html' %}
{% block body %}
{% from 'includes/_formhelpers.html' import render_field %}

<style>
  .circle {
     width: 140px;
     height: 140px;
     background-image: url("../../static/{{pic}}");
     -moz-border-radius: 70px;
     -webkit-border-radius: 70px;
     border-radius: 70px;
     margin-left: auto;
     margin-right: auto;
     display: block;
  }

  .para {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10ch;
}
.column {
  float: left;
  width: 50%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>


<div class="jumbotron text-center">
  <h1>Dashboard</h1>
<p><small>Welcome <b>{{session.username}}</b> </small></p>
<div class="circle">
</div>
<hr></hr>
<p>Here is information about your order!</p>

<!--
<p>Street: {{street}}</p>
<p>City: {{city}}</p>
<p>State: {{state}}</p>
<p>Zip Code: {{zip}}</p>
-->
<table class="table ">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="margin: auto;">Account Information</th>
      <th scope="col"style="margin: auto;">Order Information</th>
      <th scope="col"style="margin: auto;">Support Helpdesk</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Update Profile</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="/account">Update Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Documents</a></li>
          </div>
        </div>
      </td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Job History</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/tech/history">Job History</a>
            <a class="dropdown-item" href="/tech/history/active">Active Jobs</a>
          </div>
        </div>
      </td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Frequent Questions</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Frequent Questions</a>
            <a class="dropdown-item" href="/ticket">Support Ticket</a>
            <a class="dropdown-item" href="#">Phone Support</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<hr></hr>
<u><h4>Order Information:</h4></u>
{%for row in data %}
<div style="font-size: 10px;" class="row">
  <div class="column" align="left">
  <p><b>Order ID:</b> {{row['id']}}</p>
  <p><b>Userid:</b> {{row['userid']}}</p>
  <p><b>Name:</b> {{row['name']}}</p>
  <p><b>Email:</b> {{row['email']}}</p>
  <p><b>Phone #:</b> {{row['phone']}}</p>
  <p><b>Street:</b> {{row['street']}}</p>
  <p><b>City:</b> {{row['city']}}</p>
  <p><b>State:</b> {{row['state']}}</p>
  </div>
  <div class="column" align="left">
  <p><b>Country:</b> {{row['country']}}</p>
  <p><b>Issue:</b> {{row['issue']}}</p>
  <p><b>Support Type:</b> {{row['support_Type']}}</p>
  <p><b>Computer Model:</b> {{row['computer']}}</p>
  <p><b>Operating System:</b> {{row['operating_System']}}</p>
  <p><b>Status:</b> {{row['status']}}</p>
  <p><b>Date Submitted:</b> {{row['timestamp']}}</p>
  </div>
</div>
{% endfor %}
<p>Service Record:</p>
<table class="table table-striped">
  <thead class="thead-light" style="font-size: 10px;">
    <th scope="col" style="margin: auto;">ID:</th>
    <th scope="col"style="margin: auto;">Order ID:</th>
    <th scope="col"style="margin: auto;">Fault:</th>
    <th scope="col" style="margin: auto;">Corrective Action:</th>
    <th scope="col"style="margin: auto;">Timestamp: </th>
  </thead>
  <tbody style="font-size: 10px;">
    {% for writeup in writeUps %}
    <tr>
      <td><p>{{writeup['id']}}</p></td>
      <td><p>{{writeup['orderid']}}</p></td>
      <td><p>{{writeup['fault']}}</p></td>
      <td><p>{{writeup['corrective']}}</p></td>
      <td><p>{{writeup['timestamp']}}</p></td>
    </tr>
    {% endfor %}
  </tbody>
  </table>
  <hr></hr>
  <form method="POST" action="">
  <div class="form-group">
    {{render_field(form.fault, class_="form-control")}}
  </div>
  <div class="form-group">
    {{render_field(form.corrective, class_="form-control")}}
  </div>
  <p><input type="submit" name="" class = "btn btn-primary" value="Submit"></p>
  </form>
  </div>

</div>
{% endblock %}
