{% extends 'layout.html' %}
{% block body %}
<style>
  .circle {
     width: 140px;
     height: 140px;
     background-image: url("../../static/{{pic}}");
     -moz-border-radius: 70px;
     -webkit-border-radius: 70px;
     border-radius: 70px;
     margin-left: auto;
     margin-right: auto;
     display: block;
  }

  .para {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 10ch;
}
</style>


<div class="jumbotron text-center">
  <h1>Dashboard</h1>
<p><small>Welcome <b>{{session.username}}</b> </small></p>
<div class="circle">
</div>
<hr></hr>
<p>Please select the Order # of the order you wish to view!</p>

<!--
<p>Street: {{street}}</p>
<p>City: {{city}}</p>
<p>State: {{state}}</p>
<p>Zip Code: {{zip}}</p>
-->
<table class="table ">
  <thead class="thead-dark">
    <tr>
      <th scope="col" style="margin: auto;">Account Information</th>
      <th scope="col"style="margin: auto;">Job Information</th>
      <th scope="col"style="margin: auto;">Support Helpdesk</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Update Profile</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="/account">Update Profile</a></li>
            <li><a class="dropdown-item" href="#">Settings</a></li>
            <li><a class="dropdown-item" href="#">Documents</a></li>
          </div>
        </div>
      </td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Job History</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/tech/history">Job History</a>
            <a class="dropdown-item" href="/tech/history/active">Active Jobs</a>
            <a class="dropdown-item" href="/tech/offers">Job Offers</a>
          </div>
        </div>
      </td>
      <td>
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Frequent Questions</button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Frequent Questions</a>
            <a class="dropdown-item" href="/ticket">Support Ticket</a>
            <a class="dropdown-item" href="#">Phone Support</a>
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<table class="table table-striped">
  <thead class="thead-light" style="font-size: 10px;">
    <th scope="col" style="margin: auto;">Order #</th>
    <th scope="col"style="margin: auto;">User ID</th>
    <th scope="col"style="margin: auto;">Name</th>
    <th scope="col" style="margin: auto;">Email</th>
    <th scope="col"style="margin: auto;">Phone</th>
    <th scope="col"style="margin: auto;">Street</th>
    <th scope="col" style="margin: auto;">City</th>
    <th scope="col"style="margin: auto;">State</th>
    <th scope="col"style="margin: auto;">Country</th>
    <th scope="col" style="margin: auto;">Issue</th>
    <th scope="col"style="margin: auto;">Support Type</th>
    <th scope="col"style="margin: auto;">Computer Model</th>
    <th scope="col" style="margin: auto;">Operating System</th>
    <th scope="col"style="margin: auto;">Timestamp</th>
  </thead>
  <tbody style="font-size: 10px;">
    {% for row in data %}
    <tr>
      <td><p class="para"><a href="/tech/offers/{{row['id']}}">{{row['id']}}</a></p></td>
      <td><p class="para">{{row['userid']}}</p></td>
      <td><p class="para">{{row['name']}}</p></td>
      <td><p class="para">{{row['email']}}</p></td>
      <td><p class="para">{{row['phone']}}</p></td>
      <td><p class="para">{{row['street']}}</p></td>
      <td><p class="para">{{row['city']}}</p></td>
      <td><p class="para">{{row['state']}}</p></td>
      <td><p class="para">{{row['country']}}</p></td>
      <td><p class="para">{{row['issue']}}</p></td>
      <td><p class="para">{{row['support_Type']}}</p></td>
      <td><p class="para">{{row['computer']}}</p></td>
      <td><p class="para">{{row['operating_System']}}</p></td>
      <td><p class="para">{{row['timestamp']}}</p></td>
    </tr>
    {% endfor %}
  </tbody>
  </table>

</div>
{% endblock %}
